.img-user {
  width: 100px;
}

table .btn {
  margin: 0px !important;
}

.btn-primary {
  background: #27debf;
  color: white !important;
  border: 1px solid #27debf;
}

.btn-primary:hover {
  background: #0a574c;
  border: 1px solid #0a574c;
}

.panel {
  margin-bottom: 3rem !important;
}

.panel-heading {
  padding: 20px 15px;
  border-bottom: 1px solid #ececec;
}

.sidebar-nav .metismenu a {
  position: relative;
  display: block;
  padding: 13px 15px;
  color: #000;
  outline-width: 0;
  transition: all 0.3s ease-out;
  font-size: 14px;
  font-weight: 400;
}

.sidebar-nav .metismenu a > .icon-wrap {
  font-size: 20px;
  margin-right: 11px;
}

#sidebar {
  border-right: 1px solid #eee;
}

.footer-copyright-area {
  background: #27debf;
  margin-top: 100px;
}

.all-content-wrapper {
  min-height: 500px;
}

td {
  vertical-align: middle !important;
}
